<!DOCTYPE html>

<html>
	<head>
		<title>Vest-Me | REGISTER</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 							crossorigin="anonymous">
	
		<link rel="shortcut icon" type="image/png" href="https://www.netclipart.com/pp/m/0-575_floral-watercolor-		png-watercolor-flower-png-pink.png">
		
		<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
		
		<html lang="en">
<!-- metadata -->
		<meta charset="utf-8"/>

		<meta name= description content="Site made to help guide newcomers to finance and investing with a smiple, 		   hands-on scenarios that models the real world!"/> 

		<meta name="keywords" content="finance,student,growth, invest, smart "/>
			
		<meta name="author" content="Maya Koppikar" />
			
		
			
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
				
</head>
	
<body class="bod">

<!-- nabvar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light navy" id = "heyy">
		<a  class="navbar-brand"  >
  		<img src="https://www.netclipart.com/pp/m/0-575_floral-watercolor-png-watercolor-flower-png-pink.png" 			width="30" height="30" alt="" loading="lazy">Vest-Me</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
   	   		<ul class="navbar-nav mr-auto">
      			<li class="nav-item ">
       				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      			</li>

      			<li class="nav-item">
       				<a class="nav-link" href="/about">About</a>
     			 </li>

     			 <li class="nav-item">
       			 	<a class="nav-link" href="/learn">Learn</a>
      			 </li>

				
				

				<% if(!currentUser){ %>

				 <li id = "signup" class="nav-item">
        			<a class="nav-link" href="/register">Sign Up</a>
      			 </li>

				 <li class="nav-item">
       				<a class="nav-link" href="/login">Login</a>
      			 </li>
				<% } else { %>
				<li id="messa">Signed In As <%= currentUser.username%></li>
				
				<li id = "herro" class="nav-item">
       		<a class="nav-link" href="/mainpage">Mainpage</a>
      			 </li>
				
				
				
				<li id = "signout" class="nav-item">
       				<a class="nav-link" href="/logout">Sign Out</a>
      			 </li>

				<% } %>
				
	
			</ul>
			</ul>
  		</div>
	</nav>
	
	
	

<div class="errorsuccess container">

	<% if(error && error.length > 0){  %>
					<div class= "alert alert-danger" role="alert">
					<%= error %>
						</div>
	
	 <% }  %>
	
	<% if(success && success.length > 0){  %>
					<div class= "alert alert-success" role="alert">
					<%= success %>
					</div>
	
	 <% }  %>
	
</div>
<div >
	
<div class= "row container">
			<div class="col-lg-6 " height=300px width=100%>
						<div> 

			</div>
				</div>

				<div class="col-lg-6 " height="300px" width="100%">
						<div> 

					<h4 id = "sig"><strong>Please Sign Up: </strong></h4>

						<form action="/register" method="post">
								<p><input type ="email" name = "email" placeholder="email"></p>
								<p><input type ="text" name = "avatar" placeholder="avatar url"></p>
							
							
								<p><input type ="text" name = "username" placeholder="username"></p>
								<p><input type ="text" name = "firstname" placeholder="first name"></p>
								<p><input type ="text" name = "lastname" placeholder="last name"></p>
								<p><input type ="password" name = "password" placeholder="password"></p>
								
								<p><input type = "password" name="confirmpass" placeholder="confirm password"></p>
								<p><button>Sign Up</button></p>
							
							</form>
					
			</div>
				</div>


	</div>



</body>
</html>
